.backround{
    position: relative;
    }
    .backround img{
    max-width: 100%;
    height: 290px;
    margin-top: 15px;
    
    }
    .backround-text{
    position: absolute;
    top: 0;
    color: #fff;
    margin-left: 40px;
    margin-top: 100px;
    }
    .backround-text a{
    font-size: 20px;
    text-decoration: none;
    }
    .hee{
    font-weight: 800;
    font-size: 65px;
    color: #fff;
    margin-left: 40px;
    margin-top: 65px;
    font-size: 50px;
    }
    .bon{
    display: flex;
    }
    .iski{
    margin-left: 10px;
    margin-top: -4px;
    font-size: 25px;
    font-weight: 900;
    }
    .culor{
    color: rgb(238, 54, 54);
    margin-left: 6px;
    }
    .colur{
    color: #fff;
    margin-left: 40px;
    }
    .culor:hover{
        color: rgb(238, 54, 54);
    }
    .colur:hover{
        color: rgb(238, 54, 54);
    }
    .container-fluid{
        background-color: rgb(3, 3, 65);
        margin-top: -8px;
    }
.imagee{
    width: 250px;
    height: 60px;
    margin-left: 55px;}

.navbar-nav{
    margin-left: 480px;
}
.nav-link.active{
    margin-left: 50px;
    font-size: 20px;
}
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
/* --------------------footer----------------------        */
.footer{
    background: rgb(1, 1, 29);
    margin-top: 70px;
    height: 452px;
}
.forflex{
    display: flex;
    margin-left: 110px;
    
}
.copyright{
    color: #fff;
    margin-top: 100px;
}
.copyright p{
    text-align: center;
    margin-top: 40px;
}
.bex{
    height: 250px;
    width: 360px;
    color: #fff;
    padding: 20px;
    text-align: justify;
    font-size: 15px;
}
.bex p{
    font-size: 15px;
}
.bex a{
    font-size: 15px;
    color: #fff;
    text-decoration: none;
}
.bex h2{
    font-size: 20px;
}
.bex h3{
    font-size: 15px;
}
@media only screen and (max-width: 600px){
    .info{
        margin-left: 5px;
    }
    .hee{
        font-weight: 600;
        font-size: 55px;
        color: #fff;
        margin-left: 5px;
        margin-top: 65px;
    }
    .colur{
        margin-left: 5px;
    }
    .backround-text{
        margin-left: 18px;
        margin-top: 30px;
    }
    .imagee{
        margin-left: 18px;
    }
    .navbar-nav{
        margin-left: 5px;
    }
    .navbar-toggler-icon{
        color: #fff;
        background-color: #fff;
        width: 35px;
        margin-left: -5px;
    }
    .navbar-toggler{
        background-color: #fff;
        width: 50px;
    }
    /* -------footer-------------- */
    .footer{
        background: rgb(1, 1, 29);
        margin-top: 70px;
        height: 850px;
        }
        .forflex{
        display: inline;
        margin-left: 110px;
        
        }
        .copyright{
        color: #fff;
        margin-top: 100px;
        }
        .copyright p{
        text-align: center;
        margin-top: 40px;
        }
        .bex{
        height: 250px;
        width: 430px;
        color: #fff;
        padding: 20px;
        text-align: justify;
        font-size: 15px;
        }
        .its{
            margin-top: -75px;
        }
        .its2{
            margin-top: -75px;
        }
        /* ----------footer ends---------- */
    
}
